.submitShift,
.ViewShif {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.ViewShiftUl {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  
}
.fancy-style{
  background-color: red;
}
.ViewShiftUl li {
  display: flex;
  padding-left: 30%;
  list-style-type: none;
}
.checked {
  text-decoration: line-through;
}
