.progressbar-inner2 {
    background-color: rgb(136, 136, 136);
    height: 2rem;
    width: 33%;
    text-align: right;
    color: rgb(255, 255, 255);
}

.news-latter {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}

.next-sectio {
    margin-top: 5rem;
}

.name,
.password {
    display: flex;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 25%;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

form {
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

@media screen and (max-width: 600px) {
    body {
        background-color: rgb(253, 185, 185);
    }
    .name,
    .password,
    .news-latter {
        display: flex;
        flex-direction: column;
    }
}