.todoList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 1rem;
  background-color: aqua;
}

.checked {
  text-decoration: line-through;

  color: red;
}
li {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  text-align: right;
}
