body {
    background-color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    padding: 0 5%;
}

.site-title,
nav {
    margin-left: 5%;
}

header ul {
    display: flex;
    list-style-type: none;
    align-items: left;
    padding-left: 0%;
}

header li {
    margin-right: 1%;
}

.main-image {
    width: 100%;
    margin: 0;
}

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1%;
    text-align: justify;
}

.left-section-article-1,
.left-section-article-2 {
    width: 30%;
    margin: 1%;
}

.right-section-article-1,
.right-section-article-2 {
    width: 60%;
    margin: 1%;
}

.logotypes-on-the-web {
    width: 20%;
}


/*hides the button in bigger screen*/

.logotypes-icon-button {
    visibility: hidden;
}

footer {
    background-color: #0000FF;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    padding: 2%;
    gap: 2%;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer a,
footer a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

footer a:hover {
    background-color: #1ac4e2;
}


/* sets the order of the article for bigger screen*/

.right-section-article-1 {
    order: 2;
}

.left-section-article-1 {
    order: 1;
}

.left-section-article-2 {
    order: 3;
}

.right-section-article-2 {
    order: 4;
}


/* **********************************************************************
*************media* for ******small/mobile****** screen**************** */

@media only screen and (max-width: 800px) {
    body {
        background-color: #f4f8ff;
    }
    header {
        background-color: #75787a;
        display: flex;
        padding: 0 2%;
        margin-bottom: 1.5%
    }
    header ul {
        display: flex;
        list-style-type: none;
        align-items: left;
        flex-direction: column;
    }
    main {
        display: flex;
        flex-direction: column;
        background-color: #848f9b;
        flex-wrap: wrap;
        text-align: justify;
        padding: 1% 5%;
    }
    footer {
        background-color: #75787a;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: left;
    }
    footer ul {
        list-style-type: none;
    }
    footer section:nth-child(1),
    footer section:nth-child(2),
    footer section:nth-child(3) {
        width: 100%;
    }
    /* hides the footer navigation in mobile/small screen*/
    #footer-navigation {
        visibility: hidden;
    }
    /*the following sets the priority or order of the content for mobile/small screen*/
    .right-section-article-1 {
        order: 1;
    }
    .left-section-article-1 {
        order: 2;
    }
    .left-section-article-2 {
        order: 3;
    }
    .right-section-article-2 {
        order: 4;
    }
    .left-section-article-1,
    .left-section-article-2,
    .right-section-article-1,
    .right-section-article-2 {
        width: 100%;
    }
}